---
layout: default
---

<div class="home">

  {{ content }}

  <div style="height: 20px"></div>


  <h2 class="page-heading">Upcoming events</h2>


{% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}


{% for event in site.events %}

  {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
  {% if date > now %}
    <!-- event content here -->

    <a href="{{ event.url | relative_url }}">
    <div style="background: url({{ event.background | prepend: site.baseurl | replace: '//', '/' }}) no-repeat center center; background-size: cover; height: 200px">

        {% assign date_format = "%B %e %Y" %}

        <div style="height: 150px">
        </div>

        <div style="background-color: #ffffff; opacity: 0.6; height: 50px">
        <p style="margin: 5px">
          <a class="post-link" href="{{ event.url | relative_url }}">{{ event.title | escape }}  {{ event.date | date: date_format }}</a>
        <p>
        </div>

    </div>
    </a>

  {% endif %}

{% endfor %}


  <a href="{{ '/events' | prepend: site.baseurl }}">All events</a>


  <div style="height: 20px"></div>

  <h2 class="page-heading">News</h2>

  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>

        <div class="blog-post">

        {% if post.image %}
        <a class="preview-img" href="{{ post.url | relative_url }}">
            <img src="{{ post.image | prepend: site.baseurl | replace: '//', '/' }}" style="width: 100%; object-fit: cover;">
        </a>
        {% endif %}

        <div class="post-content">

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {% if post.content contains '<!--break-->' %}
            {{ post.content | split:'<!--break-->' | first }}
            <a href="{{ post.url | relative_url }}">Read more</a>
        {% else %}
            {{ post.content }}
        {% endif %}

        </div>
        </div>

      </li>
    {% endfor %}
  </ul>

  <!---
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    --->


</div>
