---
layout: default
---

<div class="home">

  <!---
  <h1 class="page-heading">Posts</h1>
    --->

  {{ content }}

  <div style="height: 20px"></div>

  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>

        <div class="blog-post">

        {% if post.image %}
        <a class="preview-img" href="{{ post.url | relative_url }}">
            <img src="{{ post.image | prepend: site.baseurl | replace: '//', '/' }}" style="width: 100%; object-fit: cover;">
        </a>
        {% endif %}

        <div class="post-content">

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {% if post.content contains '<!--break-->' %}
            {{ post.content | split:'<!--break-->' | first }}
            <a href="{{ post.url | relative_url }}">Read more</a>
        {% else %}
            {{ post.content }}
        {% endif %}

        </div>
        </div>

      </li>
    {% endfor %}
  </ul>

  <!---
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    --->


</div>
